<?xml version='1.0' encoding='utf-8'?>
<widget id="ar.com.diccionario_nautico" version="1.0.24" android-versionCode="10024" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Diccionario Náutico</name>
    <description>
        Diccionario Náutico con más de 2000 términos
    </description>
    <author email="capitan.cadorna@proton.me" href="https://diccionario-nautico.com.ar">
        Nautiapps
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <!-- Configuración de iconos Android -->
    <platform name="android">
        <icon density="mdpi" src="icono.png" />
        <icon density="hdpi" src="icono.png" />
        <icon density="xhdpi" src="icono.png" />
        <icon density="xxhdpi" src="icono.png" />
        <icon density="xxxhdpi" src="icono.png" />
    </platform>
    
    <!-- Habilitar Kotlin para el plugin moderno de AdMob -->
    <preference name="GradlePluginKotlinEnabled" value="true" />
    <preference name="GradlePluginKotlinVersion" value="1.9.0" />
	
	<!-- Forzar API 35 para cumplir con Google Play -->
	<preference name="android-targetSdkVersion" value="35" />
	<preference name="android-compileSdkVersion" value="35" />    
	
	<!-- StatusBar Plugin -->
	<preference name="StatusBarOverlaysWebView" value="false" />
	<preference name="StatusBarBackgroundColor" value="#ffffff" />
	<preference name="StatusBarStyle" value="default" />
	
	<!-- Forzar iconos oscuros en barras de estado y navegación (Android 11+) -->
	<edit-config file="app/src/main/res/values/themes.xml" mode="merge" target="/resources/style[@name='Theme.App']">
		<item name="android:windowLightStatusBar">true</item>
		<item name="android:windowLightNavigationBar">true</item>
		<item name="android:windowBackground">#FFFFFF</item>
	</edit-config>
</widget>




