<?xml version='1.0' encoding='utf-8'?>
<widget id="ar.com.diccionario_nautico" version="1.0.42" android-versionCode="10042" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Diccionario Náutico</name>
    <description>
        Diccionario Náutico con más de 2000 términos
    </description>
    <author email="capitan.cadorna@proton.me" href="https://diccionario-nautico.com.ar">
        Nautiapps
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <!-- Configuración de iconos Android -->
    <platform name="android">
        <icon density="mdpi" src="icono.png" />
        <icon density="hdpi" src="icono.png" />
        <icon density="xhdpi" src="icono.png" />
        <icon density="xxhdpi" src="icono.png" />
        <icon density="xxxhdpi" src="icono.png" />
		<!-- Forzar compilación con SDK 35 (estable) para evitar error con BAKLAVA -->
		<preference name="android-compileSdkVersion" value="35" />
		<preference name="android-targetSdkVersion" value="35" />
    </platform>
    
    <!-- Habilitar Kotlin para el plugin moderno de AdMob -->
    <preference name="GradlePluginKotlinEnabled" value="true" />
    <preference name="GradlePluginKotlinVersion" value="1.9.0" />
	
	<!-- Barra de estado -->
	<preference name="StatusBarOverlaysWebView" value="false" />
	<preference name="StatusBarBackgroundColor" value="#0a3b5a" />
	<preference name="StatusBarStyle" value="lightcontent" />

	<!-- Barra de navegación -->
	<preference name="NavigationBarBackgroundColor" value="#0a3b5a" />
	<preference name="NavigationBarLight" value="false" />
	
	<!-- Excluir Android 7 y anteriores -->
	<preference name="android-minSdkVersion" value="26" />
</widget>




