<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="mi-admob-plugin"
        version="1.0.0">
    <name>Mi AdMob Plugin</name>
    
    <js-module src="www/AdMob.js" name="AdMob">
        <clobbers target="AdMob" />
    </js-module>
    
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data 
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="ca-app-pub-3940256099942544~3347511713" />
        </config-file>
        
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AdMob">
                <param name="android-package" value="com.tuapp.admob.AdMobPlugin" />
            </feature>
        </config-file>
        
        <source-file src="src/android/AdMobPlugin.java" target-dir="src/com/tuapp/admob" />
        
        <framework src="com.google.android.gms:play-services-ads:23.2.0" />
    </platform>
</plugin>